{% extends 'base.html.twig' %}

{% block title %}MYRTFM
{% endblock %}

{% block body %}

	<!-- ======= Intro Section ======= -->
	<section id="intro">
		<div class="intro-container" data-aos="zoom-in" data-aos-delay="100">
			<h1 class="mb-4 pb-0">
				<span>MYRTFM</span>,<br>
				Votre radio à porté de main</h1>
			<p class="mb-4 pb-0">Reçevez toute l'actualité d'ici et d'ailleurs en un click.</p>
			<a href="https://player.cloud.wowza.com/hosted/p2rjg22k/player.html" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
			{# <a href="#about" class="about-btn scrollto">About The Event</a> #}
		</div>
	</section>
	<!-- End Intro Section -->

	<main
		id="main">

		<!-- ======= A la Une Section ======= -->
		<section id="speakers">
			<div class="container" data-aos="fade-up">
				<div class="section-header">
					<h2>À la Une</h2>
					<p>Suivez ce qui se passe dans le monde</p>
				</div>

				<div class="row">
					{% for new in news %}
						<div class="col-lg-4 col-md-6">
							<div class="speaker" data-aos="fade-up" data-aos-delay="100">
								<a href="{{path('news_show', {id: new.id})}}">
									<img src="{{ asset('uploads/images/news/' ~ new.image) }}" alt="{{new.title}}" class="img-fluid width100">
								</a>
								<div class="details">
									<h3>
										<a href="{{path('news_show', {id: new.id})}}">{{new.title}}</a>
									</h3>
									<p class="ellipsis">{{new.content}}</p>
								</div>
							</div>
						</div>

					{% endfor %}
				</div>
			</div>

		</section>
		<!-- End A la Une Section -->

		<!-- ======= Politique Section ======= -->
		{% if politiques|length > 0 %}
			<section id="speakers">
				<div class="container" data-aos="fade-up">
					<div class="section-header">
						<h2>Politique</h2>
						<p>Toute l'actualité sur la politique</p>
					</div>

					<div class="row">
						{% for politique in politiques %}
							<div class="col-lg-4 col-md-6">
								<div class="speaker" data-aos="fade-up" data-aos-delay="100">
									<a href="{{path('politique_show', {id: politique.id})}}">
										<img src="{{ asset('uploads/images/politiques/' ~ politique.image) }}" alt="{{politique.title}}" class="img-fluid width100">
									</a>
									<div class="details">
										<h3>
											<a href="{{path('politique_show', {id: politique.id})}}">{{politique.title}}</a>
										</h3>
										<p class="ellipsis">{{politique.content}}</p>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>

			</section>
		{% endif %}
		<!-- End Politique Section -->

		<!-- ======= Venue Section ======= -->
		<section id="venue">

			<div class="container-fluid" data-aos="fade-up">

				<div class="section-header">
					<h2>Faîtes un tour dans nos locaux</h2>
					<p>Venez à l'antenne</p>
				</div>

				<div class="row no-gutters">
					<div class="col-lg-6 venue-map">
						<iframe src="https://www.google.com/maps/d/embed?mid=115VduL-qCMhRvUV00Xppg8MKXSM&msa=0&hl=fr&ie=UTF8&t=m&ll=12.57601000000003%2C-4.394530999999988&spn=7.500826%2C9.338379&z=6&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>

					<div class="col-lg-6 venue-info">
						<div class="row justify-content-center">
							<div class="col-11 col-lg-8">
								<h3>MYRTFM</h3>
								<p>Nous sommes ouverts 6jours sur 7. Passez prendre l'antenne, nous serons ravis de vous recevoir...</p>
							</div>
						</div>
					</div>
				</div>

			</div>

		</section>
		<!-- End Venue Section -->

		<!-- ======= Economie Section ======= -->
		{% if economies|length > 0 %}
			<section id="hotels" class="section-with-bg">

				<div class="container" data-aos="fade-up">
					<div class="section-header">
						<h2>Economie</h2>
						<p>Ne manquer rien de l'économie</p>
					</div>

					<div class="row" data-aos="fade-up" data-aos-delay="100">
						{% for economie in economies %}
							<div class="col-lg-4 col-md-6">
								<div class="hotel">
									<div class="hotel-img">
										<a href="{{path('economie_show', {id: economie.id})}}">
											<img src="{{ asset('uploads/images/economies/' ~ economie.image) }}" alt="{{economie.title}}" class="img-fluid">
										</a>
									</div>
									<h3>
										<a href="{{path('economie_show', {id: economie.id})}}">{{economie.title}}</a>
									</h3>
									<p class="ellipsis">{{economie.content}}</p>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>

			</section>
		{% endif %}
		<!-- End Economie Section -->

		<!-- ======= Sports Section ======= -->
		{% if sports|length > 0 %}
			<section id="speakers">
				<div class="container" data-aos="fade-up">
					<div class="section-header">
						<h2>Sport</h2>
						<p>Football, Basketball, Pétanque...</p>
					</div>

					<div class="row">
						{% for sport in sports %}
							<div class="col-lg-4 col-md-6">
								<div class="speaker" data-aos="fade-up" data-aos-delay="100">
									<a href="{{path('sport_show', {id: sport.id})}}">
										<img src="{{ asset('uploads/images/sports/' ~ sport.image) }}" alt="{{sport.title}}" class="img-fluid width100">
									</a>
									<div class="details">
										<h3>
											<a href="{{path('sport_show', {id: sport.id})}}">{{sport.title}}</a>
										</h3>
										<p class="ellipsis">{{sport.content}}</p>
									</div>
								</div>
							</div>

						{% endfor %}
					</div>
				</div>

			</section>
		{% endif %}
		<!-- End Speakers Section -->

		<!-- ======= Culture Section ======= -->
		{% if cultures|length > 0 %}
			<section id="hotels" class="section-with-bg">

				<div class="container" data-aos="fade-up">
					<div class="section-header">
						<h2>Culture</h2>
						<p>Cultivez vous grâce à nos articles</p>
					</div>

					<div class="row" data-aos="fade-up" data-aos-delay="100">
						{% for culture in cultures %}
							<div class="col-lg-4 col-md-6">
								<div class="hotel">
									<div class="hotel-img">
										<a href="{{path('culture_show', {id: culture.id})}}">
											<img src="{{ asset('uploads/images/cultures/' ~ culture.image) }}" alt="{{culture.title}}" class="img-fluid width100">
										</a>
									</div>
									<h3>
										<a href="{{path('culture_show', {id: culture.id})}}">{{culture.title}}</a>
									</h3>
									<p class="ellipsis">{{culture.content}}</p>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>

			</section>
		{% endif %}
		<!-- End Culture Section -->


		<!-- ======= Contact Section ======= -->
		<section id="contact" class="section-bg">

			<div class="container" data-aos="fade-up">

				<div class="section-header">
					<h2>Contactez-nous</h2>
					<p>Notre équipe à votre écoute</p>
				</div>

				<div class="row contact-info">

					<div class="col-md-4">
						<div class="contact-address">
							<i class="ion-ios-location-outline"></i>
							<h3>Adresse</h3>
							<address>Bamako MALI</address>
						</div>
					</div>

					<div class="col-md-4">
						<div class="contact-phone">
							<i class="ion-ios-telephone-outline"></i>
							<h3>Téléphone</h3>
							<p>
								<a href="tel:+22300000000">+223 00 00 00 00</a>
							</p>
						</div>
					</div>

					<div class="col-md-4">
						<div class="contact-email">
							<i class="ion-ios-email-outline"></i>
							<h3>Email</h3>
							<p>
								<a href="mailto:myrtfm@email.com">myrtfm@email.com</a>
							</p>
						</div>
					</div>

				</div>

				<div class="form">
					<form method="post" role="form" class="php-email-form">
						<div class="form-row">
							<div class="form-group col-md-6">
								<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars"/>
								<div class="validate"></div>
							</div>
							<div class="form-group col-md-6">
								<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email"/>
								<div class="validate"></div>
							</div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject"/>
							<div class="validate"></div>
						</div>
						<div class="form-group">
							<textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
							<div class="validate"></div>
						</div>
						<div class="mb-3">
							<div class="loading">Loading</div>
							<div class="error-message"></div>
							<div class="sent-message">Your message has been sent. Thank you!</div>
						</div>
						<div class="text-center">
							<button type="submit">Send Message</button>
						</div>
					</form>
				</div>

			</div>
		</section>
		<!-- End Contact Section -->

	</main>
	<!-- End #main -->

{% endblock %}
