{% extends 'admin.base.html.twig' %}

{% block title %}Hello Admin!
{% endblock %}

{% block body %}
	{% include "admin.sidebar.html.twig" %}
	<!-- Content Wrapper -->
	<div
		id="content-wrapper" class="d-flex flex-column">
		<!-- Main Content -->
		<div id="content">
			{% include "admin.topbar.html.twig" %}
			<div class="container-fluid">
				<h1>{{editMode?"Modification":"Création"}}
					d'un article dans la rubrique Politique</h1>
				{{form_start(form)}}
				{{form_row(form.title, {
          label: "Titre de l'article",
           "attr":{"placeholder":"Veuillez saisir le titre de l'article"}
          })}}
				{{form_row(form.image, {
          label: "Image de l'article",
           "attr":{"placeholder":"Sélectionner une image"}
          })}}
				{{form_row(form.content, {
          label: "Content de l'article",
           "attr":{"placeholder":"Faîtes-vous plaisir :) ..."}
          })}}
				<button type="submit" class="btn btn-success">{{editMode?"Modifier":"Créer"}}</button>
				{{form_end(form)}}
			</div>
		</div>
	</div>
{% endblock %}
