<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta content="" name="description">
		<meta
		content="" name="keywords">

		<!-- Favicons -->
		<link href="/assets/img/favicon.ico" rel="icon">
		<link
		href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

		<!-- Google Fonts -->
		<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

		<!-- Vendor CSS Files -->
		<link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
		<link href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
		<link
		href="/assets/vendor/aos/aos.css" rel="stylesheet">

		<!-- Template Main CSS File -->
		<link href="/assets/css/style.css" rel="stylesheet">
		<link href="/assets/css/mystyle.css" rel="stylesheet">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}

	</head>
	<body>
		<!-- ======= Header ======= -->
		<header id="header">
			<div class="container">

				<div id="logo" class="pull-left">
					<h1>
						<a href="{{path('home')}}" class="scrollto">
							MRTFM</a>
					</h1>
				</div>

				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="{% if current_menu is defined and current_menu == 'home' %}menu-active{% endif %}">
							<a href="{{path('home')}}">Accueil</a>
						</li>
						<li class="{% if current_menu is defined and current_menu == 'politique' %}menu-active{% endif %}">
							<a href="{{path('politique')}}">Politique</a>
						</li>
						<li class="{% if current_menu is defined and current_menu == 'economie' %}menu-active{% endif %}">
							<a href="{{path('economie')}}">Economie</a>
						</li>
						<li class="{% if current_menu is defined and current_menu == 'culture' %}menu-active{% endif %}">
							<a href="{{path('culture')}}">Culture</a>
						</li>
						<li class="{% if current_menu is defined and current_menu == 'sport' %}menu-active{% endif %}">
							<a href="{{path('sport')}}">Sport</a>
						</li>
						<li class="{% if current_menu is defined and current_menu == 'environnement' %}menu-active{% endif %}">
							<a href="{{path('environnement')}}">Environnement</a>
						</li>
						<li class="{% if current_menu is defined and current_menu == 'sante' %}menu-active{% endif %}">
							<a href="{{path('sante')}}">Santé</a>
						</li>
						<li class="buy-tickets">
							{% if app.user %}
								<a href="{{path('app_logout')}}">Déconnexion</a>
							{% else %}
								<a href="{{path('app_login')}}">Connexion</a>
							{% endif %}
						</li>
					</ul>
				</nav>
				<!-- #nav-menu-container -->
			</div>
		</header>
		<!-- End Header -->

		{% block body %}{% endblock %}

		<!-- ======= Footer ======= -->
		<footer id="footer">
			<div class="footer-top">
				<div class="container">
					<div class="row">

						<div class="col-lg-3 col-md-6 footer-info">
							<h1>
								<a href="{{path('home')}}" class="scrollto">
									MRTFM</a>
							</h1>
							<p>Suivez le journal différemment</p>
						</div>

						<div class="col-lg-3 col-md-6 footer-links">
							<h4>Liens</h4>
							<ul>
								<li>
									<i class="fa fa-angle-right"></i>
									<a href="{{path('home')}}">Accueil</a>
								</li>
								<li>
									<i class="fa fa-angle-right"></i>
									<a href="{{path('politique')}}">Politique</a>
								</li>
								<li>
									<i class="fa fa-angle-right"></i>
									<a href="{{path('economie')}}">Economie</a>
								</li>
								<li>
									<i class="fa fa-angle-right"></i>
									<a href="{{path('culture')}}">Culture</a>
								</li>
								<li>
									<i class="fa fa-angle-right"></i>
									<a href="{{path('sport')}}">Sport</a>
								</li>
								<li>
									<i class="fa fa-angle-right"></i>
									<a href="{{path('environnement')}}">Environnement</a>
								</li>
								<li>
									<i class="fa fa-angle-right"></i>
									<a href="{{path('sante')}}">Santé</a>
								</li>
							</ul>
						</div>

						<div class="col-lg-3 col-md-6 footer-contact">
							<h4>Contactez-nous</h4>
							<p>
								Bamako Mali
								<br>
								Quartier<br>
								Rue
								<br>
								<strong>Téléphone:</strong>
								+223 00 00 00 00<br>
								<strong>Email:</strong>
								myrtfm@email.com<br>
							</p>

							<div class="social-links">
								<a href="#" class="twitter">
									<i class="fa fa-twitter"></i>
								</a>
								<a href="#" class="facebook">
									<i class="fa fa-facebook"></i>
								</a>
								<a href="#" class="instagram">
									<i class="fa fa-instagram"></i>
								</a>
								<a href="#" class="google-plus">
									<i class="fa fa-google-plus"></i>
								</a>
								<a href="#" class="linkedin">
									<i class="fa fa-linkedin"></i>
								</a>
							</div>

						</div>

					</div>
				</div>
			</div>

			<div class="container">
				<div class="copyright">
					&copy; Copyright
					<strong>MYRTFM</strong>. Tous droits reservés
				</div>
			</div>
		</footer>
		<!-- End  Footer -->

		<a href="#" class="back-to-top">
			<i class="fa fa-angle-up"></i>
		</a>

		<!-- Vendor JS Files -->
		<script src="/assets/vendor/jquery/jquery.min.js"></script>
		<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
		<script src="/assets/vendor/php-email-form/validate.js"></script>
		<script src="/assets/vendor/venobox/venobox.min.js"></script>
		<script src="/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
		<script src="/assets/vendor/superfish/superfish.min.js"></script>
		<script src="/assets/vendor/hoverIntent/hoverIntent.js"></script>
		<script src="/assets/vendor/aos/aos.js"></script>

		<!-- Template Main JS File -->
		<script src="/assets/js/main.js"></script>

		{% block javascripts %}{% endblock %}
	</body>
</html>
