{% extends 'base.html.twig' %}

{% block body %}
	<!-- ======= Intro Section ======= -->
	<section id="intro">
		<div class="intro-container" data-aos="zoom-in" data-aos-delay="100">
			<h1 class="mb-4 pb-0">
				<span>Votre rubrique Sport</span>
			</h1>
		</div>
	</section>
	<!-- End Intro Section -->
	<div class="container mt-2" data-aos="fade-up">
		<main id="main">
			<div class="row">
				{% for sport in sports %}
					<div class="col-lg-4 col-md-6">
						<div class="speaker" data-aos="fade-up" data-aos-delay="100">
							<a href="{{path('sport_show', {id:sport.id})}}">
								<img src="{{ asset('uploads/images/sports/' ~ sport.image) }}" alt="{{sport.title}}" class="img-fluid width100">
							</a>
							<div class="details">
								<h3>
									<a href="{{path('sport_show', {id:sport.id})}}">{{sport.title}}</a>
								</h3>
								<p class="ellipsis">{{sport.content}}</p>
							</div>
						</div>
					</div>
				{% else %}
					<h3 class="text-center">Aucun article enregistré pour le moment</h3>
				{% endfor %}
			</div>
			{% if previous >= 0 %}
				<a href="{{ path('sport', { offset: previous }) }}">Précedent</a>
			{% endif %}
			{% if next < sports|length %}
				<a href="{{ path('sport', { offset: next }) }}">Suivant</a>
			{% endif %}
		</main>
	</div>
{% endblock %}
